.wrapper{
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  
  >.card{
    align-items: center;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    background: white;
    border-radius: 8px;
    padding: 16px;
    margin: 16px 16px 0;
    display:flex;
    justify-content: center;
    >h2{
      margin-top: 40px;
    }
  }
  >.actions{
    display: flex;
    justify-content: space-between;
    margin: 0 16px;
    font-size: 32px;
    padding: 24px 0;
    color: white;
    >.fake{ visibility: hidden; }
  }
 
}
.pig{
  width: 128px;
}