.tabs {
  position: relative;
  &_nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    color: var(--navbar-text);
    background: var(--navbar-bg-end);
    position: sticky;
    z-index: 1;
    top: 0;
    > li{
      flex-grow: 1;
      flex-shrink: 0;
      padding: 12px 0;
      &.selected{
        position: relative;
        &::after{
          display: block;
          content: '';
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          background: var(--tabs-indicator-bg);
          height: 4px;
        }
      }
    }
  }
}
