@import "./assets/stylesheets/reset.scss";

body{
   font-family: Apple System, Noto Sans, Helvetica Neue, Helvetica, Nimbus Sans L, Arial, Liberation Sans, PingFang, 冬青黑, 思源黑体, 微软雅黑, 文泉驿微米黑, 文泉驿正黑, 华文黑体, 中易黑体, 文泉驿点阵正黑
 -apple-system, "Noto Sans", "Helvetica Neue", Helvetica, "Nimbus Sans L", Arial, "Liberation Sans", "PingFang SC", "Hiragino Sans GB", "Noto Sans CJK SC", "Source Han Sans SC", "Source Han Sans CN", "Microsoft YaHei", "Wenquanyi Micro Hei", "WenQuanYi Zen Hei", "ST Heiti", SimHei, "WenQuanYi Zen Hei Sharp", sans-serif;
  font-size: 16px;
  color: #333;
}